BASE_URL=https://www.saucedemo.com/
HEADLESS=false
SAUCEDEMO_USERNAME=standard_user
SAUCEDEMO_PASSWORD=secret_sauce
JIRA_LIVE_INTEGRATION_ENABLED=false
JIRA_BASE_URL=
JIRA_EMAIL=
JIRA_API_TOKEN=
SLACK_LIVE_INTEGRATION_ENABLED=false
SLACK_WEBHOOK_URL=
DATADOG_LIVE_INTEGRATION_ENABLED=false
DATADOG_API_KEY=
DATADOG_APP_KEY=
DATADOG_SITE=datadoghq.com
SPLUNK_LIVE_INTEGRATION_ENABLED=false
SPLUNK_BASE_URL=
SPLUNK_HEC_TOKEN=
CLOUDWATCH_LIVE_INTEGRATION_ENABLED=false
AWS_REGION=us-east-1
VAULT_ADDR=
VAULT_TOKEN=
